#add-button {
    background-color: #27ae60;
    border-color: #ddd;
}
.outlying {
 
    border-color: #ddd;
    background-color: #34495e;
}

div.ui-header {
    border-top : 0;
}
    
div.ui-footer {
    border-bottom: 0;
}
    
#tabs .ui-btn-active {
    background-color: #34495e;
}

#add-resume h3 {
    background-color: #2980b9;
    border: #ddd;
    
}

#errorPopupLink {
    display: none;
}

#refresh-button {
    background-color: #2980b9;
    border: #ddd;
}