#add-button {
    background-color: #27ae60;
    border-color: #ddd;
}
.outlying { 
    border-color: #ddd;
    background-color: #34495e;
}

div.ui-header {
    border-top : 0;
}
    
div.ui-footer {
    border-bottom: 0;
}
    
#tabs .ui-btn-active {
    background-color: #34495e;
}

#add-resume h3 {
    background-color: #2980b9;
    border: #ddd;
    
}

#errorPopupLink, #networkErrorPopupLink, #sendPopupLink {
    display: none;
}

#refresh-button {
    background-color: #2980b9;
    border: #ddd;
}

.resume {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

div.name, div.surname, div.goal, span.label {
    line-height: 30px;
}
ul {
    margin-top: 5px;
}

#notification-resume-sent {
    display: none;
    background-color: #27ae60;
    border: #ddd;
}

input.input-list {
    display: inline-block;
    width: 85%;
}

a.remove-input-btn {
    display: inline-block;
    vertical-align: middle;
}

.ui-icon-loading {
    background: url(http://code.jquery.com/mobile/1.1.0-rc.1/images/ajax-loader.png);
    background-size: 46px 46px;
    width:46px;
    height:46px;
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}